*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    line-height: 1.4;
    margin: 0;
}
.first_sec{
    background-image: url(image\ 1.webp);
    height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.text_sec{
    color: aliceblue;
    max-width: 900px;
    margin: 0 auto ;
    font-weight:400 ;
    padding: 40px 20px;
    letter-spacing: 2px;
}
.lg_text{
    font-size: 70px;
}
.text_two{
    font-size:50px;
    font-weight: 600;
   color:#ccc;
    padding: 20px;
    text-align: center;
}
.sec_two{
    background-color:#282e34;
    min-height: 100px;
}
.work{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));   
}
.card{
max-width: 320px;
height: 400px;
border-radius:10px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
margin-top: 30px;
margin-left: 150px;
}
.img_1{
    width: 100%;
    border-radius: 10px;

}


.grid_items{
    
    margin: 20px 0;
    justify-content: center;
}
.card_content{
    text-align: center;
}
.sec_content{
    display: grid;
    grid-template-columns:repeat(auto-fit ,minmax(200px , 1fr));
    margin-top: 30px;

}
.fourth_box{
    color: #ccc;
    background-color: rgb(94, 11, 11);
    min-height: 140px;
    
}
.third_box{
    color: #ccc;
    background-color:rgb(26, 72, 26);
}
.text_cont{
    margin:100px 0;
    padding: 0 20px;
}
.sec_four{
    background-color: black;
    color: #ccc;
    text-align: center;
    min-height: 80px;
    font-size: 50px;
}
.head{
    font-size: larger;
    text-align: center;
    margin: 40px 0;
}